[2014-07-24 22:41] bermud opened #1 "Broken SRS parameter in some tests"
Some tests in the TEAM Engine Beta sends a weird SRS parameter in the request:
SRS=EPSG:4326+EPSG:4326. This only happens if the layer has a boundingbox
declared for the requested layer in the capabilities document. All our layers
also have multiple SRS-tags including one for EPSG:4326.
Probably related to a similar problem in WMS 1.3.0 with Issue Tracker ID 783.

Applies to:
Test wms:wmsops-getma

[2014-07-24 22:54] bermud opened #2 "DTD does not match"
The test wms:wmsops-getcapabilities-response-2 fails:
Assertion: The response to a GetCapabilities request references a valid copy
of the DTD in Annex A.1 at a fully-qualified and accessible location and
validates with the DTD.

Request d1e3949_1:
   Method: get
   URL: http://services.interactive-instruments.de/cite2013wfs/cite/cgi-
bin/wms/wms/wms?&ReQuEsT=GetCapabilities&SeRvIcE=WMS&VeRsIoN=1.1

[2014-07-24 22:58] bermud opened #3 "Test wms:wmsops-getmap-each-style Exception"
On running this test (wms:wmsops-getmap-each-style Exception) there is the
following result coming up:

[code]

[Originally reported in the OGC CITE issue tracker: issue #917](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=917)

Entered by: Fischer, Jean-Michel

_Opened: 2013-12-11 07:48:32 Last Updated: 2014-07-07 03:31:06_

[2014-07-24 23:01] #3 closed, assigned to nobody

[2014-07-24 23:06] bermud opened #4 "Tests fail but the response seems valid - wms:basic_elements-param_rules-order_and_case-5"
This test:

wms:basic_elements-param_rules-order_and_case-5

might fail for the same reason as this issue:
https://portal.opengeospatial.org/?m=projects&a=view&project_id=85&tab=5&act=details&issue_id=943

Because the assertion seems to be the "old" one?

<xsl:if test="not(normalize-space(substring-before(concat(/headers/header[translate(name, 'CONTYPE', 'contype') = 'content-type']/value, ';'), '

[2014-07-24 23:09] bermud opened #5 "LayerNotDefined - Assertion"
This tests fail:

**Test wms:wmsops-getmap-params-layers-5**:
Assertion: When the layer in a GetMap request is invalid, then the response is
an exception (code=&quot;LayerNotDefined&quot;).

**Test wms:wmsops-getmap-params-layers-6**:
Assertion: When a GetMap request contains two layers where the first is valid
and the second is invalid, then the response is an exception
(code=&quot;LayerNotDefine

[2014-08-19 15:52] #2 closed, assigned to nobody

[2014-08-19 16:02] #1 closed, assigned to nobody

[2014-08-19 18:17] bermud opened #6 "Adjust configuration"
- [x] add SNAPSHOT to the POM version
- [x]  in the POM remove  <appendAssemblyId>false</appendAssemblyId>
- [x] in the POM comment block
- [x] in the POM  remove <appendAssemblyId>
- [x] in the dist.xml change the id to ctl
- [x] configure/check site folder. It should have these sub-folders and files:
  - [ ] resources (css, img)
  - [ ] xhtml
  - [ ] site.xml
- [x] update config file: <webdir>wf

[2014-08-19 22:12] bermud opened #7 "Revision r8 reference implementation - deegree not passing the test"
Deegree  for r8 are not passing the test

http://cite.lat-lon.de/deegree-webservices-3.3.6/services/wms?service=WMS&version=1.1.1&request=GetCapabilities

![deegree-wms11-r8](https://cloud.githubusercontent.com/assets/3738898/3973926/d25f472c-27ed-11e4-80c9-f9ac361491cf.png)

[2014-08-19 22:19] bermud opened #8 "Geoserver reference implementation not passing r8"
![a5af780d334a6e7f0b6b08b1a9fe49ae](https://cloud.githubusercontent.com/assets/3738898/3973961/4bdee76a-27ee-11e4-8329-ad27dccfd92e.png)

Test wms:wmsops-getmap-each-style type Mandatory default result Passed (s0003/d208e2085_8)

Assertion: For each of the Styles in the capabilities document, when a GetMap request is made with the STYLES parameter set to the element of the style, then the response

[2014-09-16 08:39] #8 closed, assigned to nobody

[2014-09-16 15:47] #5 closed, assigned to nobody

[2014-09-16 15:56] jeanmichelfischer opened #11 "Wrong assertion?"
The tests:
wms:wmsops-getmap-params-layers-5
and
wms:wmsops-getmap-params-layers-6
fail.

The assertion in both tests is:

[code]

It might fail because of the _not_ in the expression, because our SUT answers with the wanted Exception and code:

[code]

[2014-09-16 15:58] #4 closed, assigned to nobody

[2014-09-16 16:01] #11 closed, assigned to nobody

[2014-09-25 14:47] #7 closed, assigned to nobody

[2014-09-25 15:23] bermud opened #13 "DTD - accept both"
The only issue with r8, is that the RIs are not passing due to the DTD. Can we code in the CTL to allow an implementation to use either or? If using the old DTD then we can provide the result as *Warning* instead of *Failed*.

[code]

These are the two dtds:
- old one: http://schemas.opengis.net/wms/1.1.1/WMS_MS_Capabilities.dtd (old one)
- correct one: http://schemas.opengis.net/wms/1.1.1/capabil

[2014-09-30 13:43] bermud opened #14 "Result in log.xml shows as pass when test fails"
in r7

The final result log.xml shows

[code]

the testlist.xml shows that at least some of them are not passing (result !=1)

[code]

The result in HTML the web page looks correct:

![screen shot 2014-09-30 at 9 41 09 am](https://cloud.githubusercontent.com/assets/3738898/4458996/95d3eca6-48a7-11e4-9e34-e6f3cce2cb7a.png)

[2014-10-01 19:40] #6 closed, assigned to nobody

[2014-11-04 12:06] matsoo opened #16 "Misspelled exception code in Invalid InfoFormat test"
InvalidParameterValue is misspelled InvaildParameterValue in the wmts:Server.KVP.GET.GetFeatureInfo.Invalid.InfoFormat test, which causes the test to fail with the following message:
The returned exception report contained unexpected exceptionCode InvalidParameterValue with locator InfoFormat.

A quick text search show that wmtsFunctions:XML.GetFeatureInfo.Invalid.InfoFormat has the same issue. Te

[2014-11-04 12:08] matsoo opened #17 "text\html and text\plain not working in KVP valid infoformat test"
The wmts:Server.KVP.GET.GetFeatureInfo.Valid.InfoFormat test using text/html and text/plain output formats causes the same issue as in the mandatory GetFeatureInfo tests (Issue #5) that where fixed for this version, looks like the underlying function wmtsFunctions:KVP.GetFeatureInfo.Valid.InfoFormat still has this problem.

Tested on beta site in r4.

[2014-11-04 12:14] matsoo opened #18 "text\plain causes error in RESTful valid infoformat test"
In the wmts:Server.RESTful.GetFeatureInfo.Valid.InfoFormat test text/plain (and possibly other non-XLM formats) does not seem to be handled correctly. Using text/plain with some none XML-like text causes the following error:
        Fatal Error: Error reported by XML parser; Line#: 1; Column#: 1
Error: org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 1; Content is not allowed in prolog.

[2014-11-04 12:16] #16 closed, assigned to nobody

[2014-11-04 12:18] #18 closed, assigned to nobody

[2014-11-04 12:18] #17 closed, assigned to nobody

[2014-11-04 16:42] bermud opened #19 "issue link in site page is incorrect"
Link of issue (upper right corner) in the site page is incorrect.

[2014-11-19 20:43] bermud opened #20 "Verifying transparency of PNG image"
This service
http://107.20.228.18/arcgis/services/Wetlands/MapServer/WmsServer?SERVICE=WMS&VERSION=1.1.1&REQUEST=GETCAPABILITIES

Fails in Test wms:wmsops-getmap-params-exceptions-6
[code]
In this test TE sends the following:
http://107.20.228.18/arcgis/services/Wetlands/MapServer/WmsServer?&VeRsIoN=1.1.1&BbOx=-1,-1,1,1&TrAnSpArEnT=TRUE&LaYeRs=NonExistant&FoRmAt=image/png&StYlEs=&ExCePtIoNs=applic

[2014-11-27 17:46] #14 closed, assigned to nobody

[2015-02-09 13:07] dbretschneider commented on #13
We have to implement the pseudocode. In the past I tested different variants, but in all cases it does not work to check, which DTD is used.

Example:
[code]
Do you know how the check, which DTD is used? @rjmartell

[2015-02-09 15:52] dbretschneider commented on #20
I have created a Pull request (https://github.com/opengeospatial/ets-wms11/pull/21) which implements the pseudo code of https://github.com/opengeospatial/ets-wms11/issues/20#issuecomment-64467969.

[2015-02-20 01:09] bermud commented on #13
@rjmartell, can you please provide some guidance? This should be possible in the CTL world. Thanks.

[2015-02-20 15:12] bermud commented on #14
Changed tag to wontfix. It was not a bug of this test.

[2015-02-20 15:16] bermud commented on #19
I checked and its working for 1.8

[2015-02-20 15:16] #19 closed

[2015-02-20 15:41] bermud commented on #20
I checked merge with reference implantation. Fix seems fine.

[2015-02-20 15:41] #20 closed

[2015-03-02 14:34] segoerke opened #22 "TE crashes if wmsops-getmap-params-styles-5 results in an image"
If the requests sent in wmsops-getmap-params-styles-5 results in an image, TEAM Engine crashes.

Related issue: https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=923

[2015-03-17 07:20] segoerke opened #23 "wmsops-getfeatureinfo-params-query_layers-3 and wmsops-getfeatureinfo-params-query_layers-4 wrong content-type"
Both test cases do not allow to include a charset in the content-type definition:

[FAIL] Expected Content-Type 'text/xml',
	  but received 'text/xml; charset=utf-8'

This should be fixed.

[2015-03-17 07:21] segoerke opened #24 "GFI tests executed without choosing GFI for testing"
GFI tests are executed even though GFI was not chosen for testing.

[2015-03-19 22:42] rjmartell commented on #13
Perhaps drop the GMLValidatingParser from here and just attempt to validate the capabilities document using the DTD referenced in the DOCTYPE declaration (whatever it is). The `com.occamlab.te.parsers.XMLValidatingParser` class (in teamengine-core) was recently updated to use schema location hints in the instance document.

Now this is known to work for XML Schema references (xsi:schemaLocation);

[2015-03-22 18:41] rjmartell commented on #13
If using teamengine 4.1.0 or later, replace  `<wms:GMLValidatingParser/>` with `<parsers:XMLValidatingParser />`. The capabilities document should then be validated against the DTD referenced in the DOCTYPE declaration.

[2015-03-26 09:05] dbretschneider commented on #13
I have replace the GML with the XML validation parser and created a new pull request https://github.com/opengeospatial/ets-wms11/pull/25.

[2015-03-26 18:23] bermud commented on #13
Fixed in https://github.com/opengeospatial/ets-wms11/commit/115e62d3a3fab8e80c5e659fe0d13b784455f680
Tested with Reference Implementation. OK

[2015-03-26 18:23] #13 closed

[2015-03-27 13:21] dbretschneider commented on #23
I have added a XPath Contains expression to check, if the `Content-Type` of the response contains the expected ```Content-Type```.

See Pull request: https://github.com/opengeospatial/ets-wms11/pull/26

[2015-04-14 07:33] dbretschneider commented on #24
I have executed the actual ```ets-wms11``` branch ```master``` with following configuration:
 * ```UpdateSequence Values``` » ```Automatic```
 * ```Certification Profile``` » ```BASIC```

The test session results contains ```GetFeatureInfo``` tests. So I can reproduce the issue, But I cannot find any references between the basic and queryable profile.

In my opinion the selection of one profile ha

[2015-04-14 08:51] dbretschneider commented on #24
My opinion was wrong. The test suite contains a wrong if condition. I have updated the tests and executed against RI. Issue is fixed now.

Pull request: https://github.com/opengeospatial/ets-wms11/pull/27

[2015-04-15 13:04] segoerke commented on #24
https://github.com/opengeospatial/ets-wms11/pull/27

[2015-04-15 13:04] #24 closed

[2015-04-15 13:06] segoerke commented on #23
https://github.com/opengeospatial/ets-wms11/pull/26

[2015-04-15 13:06] #23 closed

[2015-04-24 06:01] dineshahuja commented on #5
For our test cases for WMS 1.1.1 we are having the same problem as stated above.
Test wms:wmsops-getmap-params-layers-5
Test wms:wmsops-getmap-params-layers-6 are failing on r7 where as

Test wms:wmsops-getmap-params-layers-7 is passing.

Returned exception code is same in all above cases code="LayerNotDefined".

Please suggest

[2015-05-05 07:10] dineshahuja opened #30 "WMS 1.1.1 test case failing for Transparency due to PNG"
![ogc](https://cloud.githubusercontent.com/assets/696399/7468284/33d831e2-f324-11e4-823c-c1f6f3224acd.jpg)
We have been trying to run WMS 1.1.1 test cases on beta test engine http://cite.opengeospatial.org/te2.
There is one particular test " Test wms:wmsops-getmap-params-transparent-3" is failing which our product was passing earlier.
I have looked into the script code and could see that it is mak

[2015-05-05 09:31] bermud commented on #30
@segoerke, this issue might be related to #20. Please verify.

[2015-05-05 10:25] dineshahuja commented on #30
I believe code being executed in Case 30: is as follows

         <xsl:for-each select="$request1">
            <xsl:variable name="expression">xs:integer(//parsers:count) eq 0</xsl:variable>
            <xsl:if test="saxon:evaluate($expression)">
               <ctl:message>[FAILED] xs:integer(//parsers:count) eq 0 is true.</ctl:message>
               <ctl:message>Expected some pixels with an al

[2015-05-07 14:01] bermud commented on #30
@segoerke please investigate !

[2015-05-15 07:02] dineshahuja commented on #30
Can i please get to know do we have any updates on this.

[2015-05-18 14:04] segoerke commented on #30
Just merged pull request which handles the issue (see #31)

[2015-05-20 14:42] segoerke commented on #30
For me the issue is not reproduceable neithter on beta, nor locally.

[2015-06-03 17:27] bermud opened #32 "wms:wmsops-getmap-each-style"
While executing this services
http://ogc.intergraph.com/WMS2015-CITE/service.svc/get?request=GetCapabilities&service=WMS&VERSION=1.1.1

An error is detected:

1.  Test wms:wmsops-getmap-each-style
2.  Assertion: For each of the Styles in the capabilities document, when a GetMap request is made with the STYLES parameter set to the element of the style, then the response is valid.
3.  A sequence of

[2015-06-03 18:24] rjmartell commented on #32
The "sequence of more than one item is not allowed..." message indicates that only one value was expected in some context but more than one was found. Either the instance is invalid or the assertion check doesn't allow for multiple occurrences even in valid instances (which is a bug in the script). I'll take a look.

[2015-06-03 18:58] rjmartell commented on #32
In the `wmsops-getmap-each-style` test, the string function is used to identify the preferred name of the layer having the specified style name ('Default' in this case):

[code]

There are 12 layer names in the capabilities document that match, but only one is expected. Hence the error.

[2015-06-03 19:44] rjmartell commented on #32
Well, the WMS 1.1.1 spec (OGC 01-068r3, dated 2002-01-16 and deprecated years ago) does prohibit the reuse of style names in _descendant_ layers, but not _sibling_ layers (7.1.4.5.4).

[2015-06-03 19:47] rjmartell commented on #32
The workaround is to ensure that layer-specific styles have unique names.

[2015-06-09 15:00] segoerke commented on #32
I think the workarround does not work arround anything important here. The problem is, that
[code]
simply matches more than one item, but only one element was expected.
The most important thing is, that it is compliant behaviour that the style names are used more than one time.

[2015-06-09 17:37] rjmartell commented on #32
The "workaround" I suggested was intended as a short-term solution for running the current suite. If the test suite were amended to allow sibling layers having the same style name, then it becomes moot.

[2015-06-10 06:50] segoerke commented on #32
This issue is related to https://github.com/opengeospatial/ets-wms11/issues/3

[2015-06-10 13:19] #32 closed

[2015-06-10 13:37] bermud commented on #30
It seems it was close with https://github.com/opengeospatial/ets-wms11/commit/72e7f9615daba8bebff537f330ffeb8de2d36617

[2015-06-10 13:37] #30 closed

[2015-06-10 13:42] bermud commented on #22
I cannot see this behavior anymore. Tested with original reported server. It completed; even though there were errors in the implementation.

[2015-06-10 13:42] #22 closed

[2015-07-19 05:13] drnextgis opened #34 "Error in call to extension function"
Trying to test our WMS server [here](http://cite.opengeospatial.org/teamengine) and get the following result:

[code]

Problems with WMS server or issue of test suite?

[2015-07-19 08:06] simgislab opened #35 "Documentation problems for WMS 1.1.1"
There are few problems with docs when I visit http://cite.opengeospatial.org/teamengine/about/wms/1.1.1/site/

1. Description about the test data is [here.]
But here is not the hyperlink

2. Download the test data here.
Here link leads to 404

[2015-07-21 17:09] bermud opened #36 "VendorSpecificCapabilities must be declared"
This file (end point):
http://www3.demis.nl/wms/wms.ashx?&ReQuEsT=GetCapabilities&SeRvIcE=WMS&VeRsIoN=1.1.1
fails when testing with WMS 1.1.1 r1.9

[code]
But if validating with Oxygen against this DTD it passes, why?
http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd

[2015-07-21 17:14] bermud opened #37 "Content-Type including charset=utf-8"
The following two tests fail when testing this endpoint
 http://www3.demis.nl/wms/wms.ashx?&ReQuEsT=GetCapabilities&SeRvIcE=WMS&VeRsIoN=1.1.1

ASP.NET adds 'charset=utf-8'.

Maybe the test should  allow also the possibly to return ```'text/xml; charset=utf-8'.```

[code]

[2015-07-22 07:24] segoerke opened #38 "Teamengine Beta WMS 1.1.1 tests seem to be broken"
On BETA, it seems that die installation of TEAM Engine for WMS 1.1.1 is broken.

Testing ends up after a few seconds with messages like:
* Error: Unable to bind function functions:append-kvp
Result: Failed
* java.lang.ClassNotFoundException: com.occamlab.ctlfns.JaxenFunction
Result: Failed

Which message is shown belongs to the SUT

[2015-07-22 08:06] segoerke commented on #36
My first question is, why is it important to advertise an empty element in a SUT which anyhow is optional.
It could be the case, that the TEAM Engine XMLValidatingParser expects occuring elements to be non-empty.
We are going on with investigation.

[2015-07-22 08:11] segoerke commented on #37
This is related to https://github.com/opengeospatial/ets-wms11/issues/23 and is working with ets versions from 1.10 on (1.10 and current dev version actually)

[2015-07-22 08:11] #37 closed

[2015-07-22 08:41] segoerke commented on #36
As VendorSpecificCapabilities is not defined as an empty element within the OGC schema, the validation expects contents here, but there are no contents within it in the SUT.
The parsers are not considering the definition within the SUT capabilities document in that case here.

[2015-07-22 09:57] pgrashoff commented on #36
We tested again without the optional (but empty) node. The same error message occurred. It may not be a problem with the vendor specific node, as the error message refers to a line still in the error block. Hope this helps. Kind regards, Poul

[2015-07-22 10:02] pgrashoff commented on #37
Yes, I also expected this was related to earlier similar erros where charset= has been added. When will this be implemented in team engine 1.9?

[2015-07-22 10:12] segoerke commented on #37
I think this will not be fixed for the version 1.9 of the WMS tests, as 1.10 is already installed on beta. A new release is planned as far as I know soon.

[2015-07-22 10:18] pgrashoff commented on #37
Ok, thanks Sebastian, in that case we will wait for 1.10 for our next test round :)

[2015-07-22 13:03] segoerke commented on #36
After your change on the SUT side, we cannot reproduce the issue anymore.

[2015-07-22 15:34] bermud commented on #38
What end point are you testing? I just restarted the server. Can you please check again.

[2015-07-22 15:39] bermud commented on #37
@pgrashoff, the fix (1.10) is in beta. http://cite.opengeospatial.org/te2/. Please check and let us know. 1.10 will be moved to production next week.

[2015-07-22 16:12] pgrashoff commented on #37
Dear Luis,

Yes, I saw the message from Sebastian.

I tried the test, but it stopped at WMS_MAIN. Not sure why.

See the report below.

Kind regards,

Poul

Test wms:wms_main type Mandatory default result Passed (s0006)

Assertion: This WMS is valid

Request d1e378_1:

   Method: get

   URL: http://www3.demis.nl/wms/wms.ashx?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.1.1

   Response from pars

[2015-08-02 05:56] bradh opened #39 "wmsops-getmap-each-srs does not handle AUTO correctly"
wmsops-getmap-each-srs just substitutes each SRS entry that the server provides.

That doesn't work for the AUTO cases (see WMS 1.1.1 section 6.5.5.2: http://cite.opengeospatial.org/OGCTestData/wms/1.1.1/spec/wms1.1.1.html#basic_elements.params.srs), which need to be completed.

For example, if the capabilities statement says: <SRS>AUTO:42003</SRS> then it is not correct to just use:

    ...BbOx=

[2015-08-04 10:38] bermud commented on #36
@segoerke, I checked with version WMS version 1.10. The implementation is still failing. Using an XML DTD validator  (Oxygen) the GetCapabilities is Valid. Can you please investigate further?

[2015-08-04 12:03] segoerke commented on #39
The Testsuite and -data is not created for support of the AUTO namespace.

[2015-08-04 12:04] segoerke commented on #38
It is working correctly now.

[2015-08-04 12:04] #38 closed

[2015-08-04 12:05] segoerke commented on #34
Cannot be reproduced without any more hint about the software under test. Please try again and additionally on the beta testsuite: http://cite.opengeospatial.org/te2

[2015-08-04 12:06] segoerke commented on #36
It was working after modification on the software side (see discussion above). As a quick win, I'd like to suggest to do the same thing again.

[2015-08-04 12:11] segoerke commented on #35
This seems to be related to the deployment on the servers.

[2015-08-04 12:11] pgrashoff commented on #36
Dear Sebastian, do you mean we should just leave out the empty node (which is supposed to be optional anyway)? We tried that before and it didn't make a difference to the error message. If you want we can try this again. Just let me know.

[2015-08-04 12:24] segoerke commented on #36
From what I remember, changing the capabilities output lead into a successful test run for that test case.

[2015-08-04 12:54] pgrashoff commented on #36
OK, we will do a test tomorrow. In that test we will remove the superfluous vendorspecific node. After that I will report back.

[2015-08-04 12:59] bermud commented on #36
The DTD declares the following:
[code]

`VendorSpecificCapabilities` is optional. Removing should not cause any problem. @segoerke ,we still need to check, why the test is failing.

[2015-08-04 13:07] segoerke commented on #36
I am not sure if we really have to do anything. The reference implementation (cite.deegree.org/deegree-webservices-3.3.14/services/wms?service=WMS&request=GetCapabilities) is passing and as you are saying, it is an optional element and the test suite tests the mandatory behaviour. Sure, it would be good to make the test suite more robust. But for the moment I don't see this as a blocking issue her

[2015-08-04 13:23] pgrashoff commented on #36
Well, after all since this is our last "issue" remaining I guess the certification of the Demis WMS 4.4 should perhaps not be waiting for this?

[2015-08-04 13:39] bermud commented on #36
@segoerke,
I know we have a work around, but we should solve the problem if there is one.
Can you please explain why you have the following declared: ``` [<!ELEMENT VendorSpecificCapabilities EMPTY>]> ```, and why it fails it the element is present?

[2015-08-04 19:20] drnextgis commented on #34
Also get Java error:

[code]

[2015-08-04 19:51] bermud commented on #34
@drnextgis  Try to do http://demo ...
@segoerke, Here are the logs, so you can investigate further the issue
http://cite.opengeospatial.org/pub/cite/files/logs/wms111-issue34.zip

[2015-08-04 20:59] bradh commented on #39
@segoerke : I don't understand your comment. This is not data specific - the test currently checks whatever the server returns as a supported SRS, and it is valid for the server to return SRS in the AUTO namespace. If it isn't supported, then it should be filtered out in the ETS.

[2015-08-05 10:04] pgrashoff commented on #36
Dear Sebastian and Luis, today we removed the vendorspecific node from the response and then it does pass. In other words the test in the team engine on an empty vendorspecificcapabilities node may need to be improved.

For us, it is fine now. I have submitted Demis WMS 4.5 for certification. Thanks for your help!

[2015-08-11 08:59] segoerke commented on #36
Okay, so we will enhance the test case for the future.

[2015-08-11 09:03] segoerke commented on #39
Please see: http://cite.opengeospatial.org/teamengine/about/wms/1.1.1/site/Web_Map_Server.html
We can discuss, if it is the better way to filter the AUTO CRS things out but from my point of view it is very clear from the requirements, that the server has only to support the mandatory CRS and EPSG:4326

[2015-08-11 09:35] bradh commented on #39
I'm not arguing that AUTO should be required. I'm arguing that the test shouldn't fail if the server chooses to support it. Right now, that fails on GeoServer.

[2015-08-11 13:50] pgrashoff commented on #36
Good plan, the devil is in the details
Thanks for your help :)

[2015-08-12 13:41] matsoo opened #40 "wms:wmsops-getmap-params-exceptions-6 fails for gif images with indexed tranparency"
Our server returns an blank image exception gif with a single color with is indexed as transparent, but the test still fails with the error message: Neither alpha channel exists nor tRNS chunk exists.

Here is the exact URL used in the test:
http://192.71.92.21/MapService/wms.axd/WmsTestData?&VeRsIoN=1.1.1&BbOx=-1,-1,1,1&TrAnSpArEnT=TRUE&LaYeRs=NonExistant&FoRmAt=image/gif&StYlEs=&ExCePtIoNs=appli

[2015-09-03 14:54] dstenger commented on #36
We analyzed this problem more in detail.

This problem can be located in the TEAM Engine itself (not the test suite). The XMLValidatingParser [1] uses (in method #validateAgainstDTDList(), line 418ff) the schema referenced in the document for validation if a schema location is missing. Unfortunately, this mechanism does not consider internal sub types leading to the described error.

[1] https://g

[2015-10-01 02:49] bradh commented on #39
PR at https://github.com/opengeospatial/ets-wms11/pull/41

[2015-10-01 14:42] bermud commented on #36
@dstenger, thank you for the investigation. I will move this to enhancement.

[2015-10-01 14:51] bermud commented on #35
@dstenger. Please revise the site information and links

[2015-10-07 08:58] dstenger commented on #39
Thank you for your PR. We will review and merge it to the master.

[2015-10-07 09:10] dstenger commented on #36
@bermud, are further actions required? The problem of @pgrashoff is solved and a fix in TEAM Engine is not that simple.

[2015-10-07 10:41] bermud commented on #36
@rjmartell, can you please advice. This seems to be related to the TE XMLValidatingParser. Thank you.

[2015-10-08 16:45] dstenger commented on #35
A pull request was created to fix the erroneous links.

The pull request will be merged, when a new release is prepared.

[2015-10-20 22:53] rjmartell commented on #36
The current capabilities document does not include the (optional) `VendorSpecificCapabilities` element (for which there is no type declaration in the [normative DTD](http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd)). It's unclear from the discussion if it ever contained any content. If not, then trying to modify the validator to recognize an internal DTD subset doesn't seem necessary.

[2015-10-21 15:54] rjmartell commented on #36
Note that the missing element declaration is not considered to be an error according to the [XML 1.0 spec](http://www.w3.org/TR/xml/#elemdecls):

Presumably this allows the type declaration to appear in an internal subset (which takes priority).

[2015-10-27 16:01] #39 closed

[2015-10-27 16:02] dstenger commented on #39
Pull request was merged to master branch. This fix will be part of the next release.

[2015-10-27 16:13] dstenger commented on #35
This fix will be part of the next release.

[2015-10-27 16:15] #35 closed

[2015-11-04 19:30] emoiroux opened #43 "Empty SRS - wmsops-getmap-each-layer"
Hi,

The following test "wms:wmsops-getmap-each-layer" fails because the SrS is empty in the request.
URL: http://my_wms_server/wms1_1_1/wms?&LaYeRs=WMS1.1.1&SrS=&BbOx=0,0,1,1&WiDtH=100&ReQuEsT=GetMap&StYlEs=&HeIgHt=100&FoRmAt=image%2Fpng&VeRsIoN=1.1.1

Here is my configuration :
Service : http://my_wms_server/wms1_1_1/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetCapabilities
Platform : http://cite.op

[2015-11-04 19:32] emoiroux opened #44 "DTD - wmsops-getcapabilities-response-2"
Hi,

The following test "wms:wmsops-getcapabilities-response-2" fails.
It's look like i'm using the wrong DTD.
I'm currently using http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd

Here is my configuration :
Service : http://my_wms_server/wms1_1_1/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetCapabilities
Platform : http://cite.opengeospatial.org/te2
Service : WMS 1.1.1 rev.1.10

Similar iss

[2015-11-12 12:21] dstenger commented on #34
Second error: MalformedURLException: no protocol: demo.nextgis.ru/ngw/api/resource/12/wms?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.1.1

Answer: The "http://" was missing when entering the URL.

First error: MalformedURLException: no protocol: ?SeRvIcE=WMS&BoGuS=ignored&ReQuEsT=GetCapabilities&VeRsIoN=1.1.1

Answer: The WMS [1] does not return a valid capabilities response as the document is n

[2015-11-12 12:21] #34 closed

[2015-11-19 10:36] dstenger commented on #43
The SRS is empty because the root layer is selected for this test (correct, as the root layer is requestable), but when the SRS is determined, the root layer is not considered anymore. This leads to the fact that no SRS can be found and the request is send without SRS.

There are two solutions:
1. You could remove the Name element from the root layer, so that it is not requestable anymore. Then, t

[2015-11-25 16:40] dstenger commented on #40
Issue was fixed in pull request #45 and will be part of the next release.

[2015-11-26 09:38] dstenger commented on #43
In case a fix is needed, we need a working service URL to verify the fix.

[2015-11-30 11:41] dstenger commented on #40
Pull request was merged into master branch. Fix will now be included in the next release.

[2015-11-30 11:41] #40 closed

[2015-12-01 16:24] emoiroux commented on #43
Hi,

It would be great to have a fix. Can you contact me via email (emoiroux@k2geospatial.com) and then I will give to you the wms server address),

Thanks,
Etienne

[2015-12-01 16:24] emoiroux commented on #43
Hi,

It would be great to have a fix. Can you contact me via email (emoiroux@k2geospatial.com) and then I will give to you the wms server address.

Thanks,
Etienne

[2015-12-01 23:05] rjmartell commented on #36
Once [teamengine-135](/opengeospatial/teamengine/issues/135) is resolved, the included DTD subset should be used to validate the vendor-specific extensions.

[2015-12-01 23:05] #36 closed

[2016-01-07 18:50] bermud commented on #43
@dstenger has this been coordinated/fixed?

[2016-02-17 15:23] bermud commented on #43
Great to know that this is in progress.

[2016-02-23 09:11] dstenger commented on #43
A fix for this issue was created and tested successfully (with service provided by emoiroux).

Fix is part of following pull request #46 and will be part of the next release.

[2016-02-23 10:03] dstenger commented on #43
Pull request was merged successfully into master branch and is part of the upcoming release.

[2016-02-23 10:03] #43 closed

[2016-03-04 15:19] pomakis opened #47 "value of INFO_FORMAT parameter not URL-encoded"
When the test suite sends the value of the INFO_FORMAT parameter, it doesn't URL-encode it. Thus, for example, when a WMS advertises a GetFeatureInfo format of:

application/gml+xml; version="3.2"

the test suite sends:

InFo_fOrMaT=application/gml+xml;version="3.2"

which is illegal because it isn't URL-encoded. The test suite should be sending:

InFo_fOrMaT=application%2Fgml%2Bxml%3B+version%3D%

[2016-03-04 15:25] pomakis opened #48 ""application/vnd.ogc.gml" not a mandatory GetFeatureInfo format"
The CITE WMS 1.1.1 test suite tests for "application/vnd.ogc.gml" as a mandatory GetFeatureInfo format.  However, the specification doesn't dictate it as a required format.  It's mentioned only as an example.

[2016-04-05 19:31] emoiroux commented on #44
Test failed with http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd or
http://schemas.opengis.net/wms/1.1.1/WMS_MS_Capabilities.dtd

[2016-04-06 23:13] bermud commented on #44
@emoiroux, thank you for reporting we will investigate

[2016-04-06 23:24] bermud commented on #48
@pomakis. we will back to you very soon. Thank you for reporting.

[2016-04-11 09:55] dstenger commented on #44
Response given by R. Martell in the forum:

[2016-04-11 09:56] dstenger commented on #44
For further investigation I need more information why the test fails (e.g. log).
The test server you provided is not accessible anymore.

[2016-04-11 10:41] dstenger commented on #47
Hello,

thank you for reporting.

Can you please name the test which is failing due to an non encoded URL? And if possible, can you provide a test server to reproduce the error?

wms:wmsops-getfeatureinfo-each-info_format for example sends an encoded request (e.g. ..&InFo_fOrMaT=application%2Fgml%2Bxml%3B+version%3D3.0&..).

[2016-04-11 11:02] dstenger commented on #48
Hello,
thank you for reporting.
Which test are you referring to? "wms:wmsops-getfeatureinfo-params-info_format-2"?
This test is just enabled if you select "GML FeatureInfo" on the start page of the ETS. These are optional tests and "The remaining tests are not required for certification, but may prove informative or be useful as a debugging aid.".
All other tests do not require "application/vnd.og

[2016-04-11 13:07] pomakis commented on #47
You wrote:

The following WMS 1.1.1 service:

  http://demo.cubewerx.com/cubewerx/cubeserv/cite_wms111?SERVICE=WMS&REQUEST=GetCapabilities&VERSION=1.1.1

fails the following tests:

  wms:basic_elements-param_rules-order_and_case-5
  wms:wmsops-getfeatureinfo-params-feature_count-1
  wms:wmsops-getfeatureinfo-params-feature_count-2
  wms:wmsops-getfeatureinfo-params-query_layers-1
  wms:wmsops-get

[2016-04-11 13:29] pomakis commented on #48
Yes, you're right.  I neglected to notice that the "GML FeatureInfo" test was optional and explicitly states that it tests with the application/vnd.ogc.gml GetFeatureInfo format.  I withdraw this issue.

[2016-04-11 14:47] #48 closed

[2016-04-15 16:00] dstenger commented on #47
Yes, you are right. The list of tests you provided does not encode the INFO_FORMAT.

Regarding the fix: The test mentioned by me above (wms:wmsops-getfeatureinfo-each-info_format) can be used as a template, as this test encodes the INFO_FORMAT.

[2016-04-25 14:20] dstenger commented on #47
A fix was created and is provided via pull request #49.

The pull request is tested and will be part of the next release.

[2016-04-29 09:16] dstenger commented on #47
Pull request #49 was merged into master branch (after having done tests).
Fix will be included in the next release.

[2016-04-29 09:16] #47 closed

[2016-05-02 13:27] emoiroux commented on #44
It's fine for me now. You can close the issue. the file "http://schemas.opengis.net/wms/1.1.1/capabilities_1_1_1.dtd" is fine too.

[2016-05-02 13:27] #44 closed

[2016-11-21 06:59] swen100 opened #50 "missing urlencoding"
Hello,

some of the WMS 1.1/1.3 tests fail because the request-url does not follow the standard in encoding reserved characters.

For example in the “wms:wmsops-getmap-params-exceptions-2”-test there is a parameter “FoRmAt” with a missing encoding of the whitespace-character in the value:
“...&FoRmAt=image/png; mode=24bit&...”

It should be: “...&FoRmAt=image/png;**%20**mode=24bit&...“

see https:

[2016-11-21 09:59] dstenger commented on #50
Thank you for reporting this issue. We will do further investigation.

[2016-11-21 15:51] dstenger commented on #50
You are right. The format value is not encoded by the test suite.

Can you provide a service we can use to test a fix?

[2016-11-22 08:59] swen100 commented on #50
sure, u can use this one (only available for requests from http://cite.opengeospatial.org):
https://wms.onmaps.de?key=3b8a499f437e2b6c2c164df4f036537d&service=wms

[2016-12-02 13:17] dstenger commented on #50
We are currently working on a fix.

[2016-12-15 11:02] dstenger commented on #50
A fix was created and is provided via pull request #51.
The pull request will be merged right before the next release is built.

[2017-01-31 11:25] dstenger commented on #50
The fix was successfully tested and merged into master branch.
It will be part of the upcoming release.

[2017-01-31 11:25] #50 closed

[2017-03-07 13:08] pblottiere opened #52 "No Rest API"
Hi,

I would like to run ets-wms11 tests thanks to the Rest API as I'm doing it with ets-wms13, ets-gml32 or ets-wfs20 but it does not seem to be available on the page http://localhost:8080/teamengine/rest/suites/.

I have installed/unarchived the next packages after the compilation step:
- ets-wms11-1.15-deps.zip in $(TE_BASE)/resources/lib
- ets-wms11-1.15-site.jar in $(TE_BASE)/resources/lib
-

[2017-05-10 10:44] keshav-nangare opened #53 "Update CTL with better information about conformance classes"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-08-01 06:07] lgoltz opened #54 "Problem with WMS 1.1.1 validation (wms:wmsops-getmap-each-srs fails due to XSLT failure)"
Test result:
---
Test wms:wmsops-getmap-each-srs type Mandatory default result Passed (s0003/d1e2113_1)

Assertion: For each SRS in the capabilities document, when a GetMap request uses the SRS, then the response is valid.

`A sequence of more than one item is not allowed as the first argument of string() (<Name/>, <Name/>)`
Result: Failed

Versions:
---
Team Engine 4.10
Specification: WMS 1.1.1 [

[2017-08-01 11:36] dstenger commented on #54
Solution was implemented and pull request created: #55
The fix will be part of the next release if testing is successful.

[2017-08-18 10:41] dstenger commented on #52
We created a pull request to enable REST API: #56.

This is an example request how to run tests with the REST interface: http://host/teamengine/rest/suites/wms/1.16-SNAPSHOT/run?capabilities-url=http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wms111?service=WMS%26request=GetCapabilities

To enable EARL reporting following fix has to be included in TEAM Engine installation: https://git

[2017-08-18 11:27] pblottiere commented on #52
Nice! Thank you @dstenger for taking care of it!

[2017-08-22 10:33] #52 closed

[2017-08-22 10:33] #54 closed

[2018-01-16 05:59] sprd16 commented on #34
Trying to test our WFS server here and get the following result:

URL: http://192.168.100.165:9090/geoserver/test/wfsversion=1.1.0#request=GetCapabilities,service=WFS
Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect.InvocationTargetExc

[2018-01-16 07:01] lgoltz commented on #34
@sprd16 I've created a new ticket from your comment (https://github.com/opengeospatial/ets-wfs11/issues/78) as you describe a WFS issue which is not related to the problem described here. Please take a look in the new issue and try to answer the questions there.

[2018-04-03 12:58] lgoltz commented on #53
I think we can decide between the following conformance classes (as in WMS 1.3):
 * basic
 * queryable

Furthermore there are some additional conformance classes:
 * Recommendation Support
 * GML FeatureInfo
 * Fees and Access Constraints
 * BoundingBox Constraints

CC `basic` should be configured as basic (required for certification).

[2018-04-05 07:17] lgoltz commented on #53
Test was restructured to be grouped by profiles as described in https://github.com/opengeospatial/ets-wms11/issues/53#issuecomment-378240534

'no' and 'basic' was configured as basic: https://github.com/opengeospatial/ets-wms11/pull/57/commits/b8c7db6c7c249358498d2703eb01876f816393ac

Currently the organisation of the tests is confusing. On the main page of the WebGUI one of the three  profiles ca

[2018-04-05 07:20] lgoltz opened #58 "Improve organisation of tests"
As described in https://github.com/opengeospatial/ets-wms11/issues/53#issuecomment-378842640 the organisation of the tests is confusing. On the main page of the WebGUI one of the three  profiles can be select:
  * NONE - Do not certify that the server meets requirements for any test profile
  * BASIC - Certify that the server meets all requirements for the BASIC profile
  * QUERYABLE - Certify tha

[2018-04-05 07:26] lgoltz opened #59 "Improve documentation"
It is required to improve the documentation of the ETS:
 * Section Reference Implementations on https://opengeospatial.github.io/ets-wms11/
  * links are outdated (could be replaced by a link to the wiki page
 * WebGUI entry page: Link in section 'Certification Profile' is outdated

[2018-04-20 13:21] dstenger opened #60 "Test wms:wmsops-getcapabilities-params-request-1 uses wrong request parameter value"
The source code uses "capabilities" for request parameter. Instead, "GetCapabilities" should be used.

That may be for WMS 1.0.0 backward compatibility but is not normative for WMS 1.1.1.

[2018-05-09 09:32] #53 closed

[2018-06-15 08:41] keshav-nangare commented on #60
Updated the request parameter. Commit: 3f23cd016171228d02a7a0073d5b585b8ced776f

[2018-08-22 08:16] dstenger opened #62 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
See opengeospatial/ets-wms13#56 for instructions.

Please use following service implementation: http://cite.deegree.org/deegree-webservices-3.4.0/services/wms111?service=WMS&request=GetCapabilities

[2018-08-22 08:29] lgoltz opened #63 "Test wms:wmsops-getmap-params-exceptions-4 fails if format with parameter is used in request"
Test result:
[code]

[2018-08-22 09:53] lgoltz commented on #63
Assertion was changed to be less strict if format parameter contains parameters. PR: #64

[2018-08-22 11:16] lgoltz opened #65 "Test wms:wmsops-getmap-each-style fails if layer with the same name occurs multiple times"
Tested locally with the current master (1.18-SNAPSHOT) and TEAM Engine 5.3 (docker environment).

Following error is logged in the tomcat:

[code]

Creating the layer info (calling functions:layer-info) calls function:bbox and the xpath `$root-layer/descendant-or-self::Layer[Name = $layer-name]/@noSubsets` selects all Layers/@noSubsets (in the example above 11 layers with the same name are describ

[2018-08-24 15:04] dstenger opened #66 "Introduce Dockerfile and Maven Docker plugin"
https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2018-08-24 15:13] dstenger commented on #66
Was committed to master branch.

Build Docker Image:
* ```mvn clean install -Pdocker```
* -> Docker Image with Name ```opengeospatial/ets-gpgk12``` is created.

Build Docker Image and create and start Docker container:
* ```mvn clean install docker:run -Pdocker```
* -> Test suite can be accessed via http://localhost:8081/teamengine

[2018-08-27 11:33] #60 closed

[2018-08-27 11:33] #63 closed

[2018-08-28 10:07] lgoltz commented on #66
Enhanced README: https://github.com/opengeospatial/ets-wms11/commit/96dea8eae2cdb792a89df8b0e2f67d2d2856d836

[2018-08-28 10:07] #66 closed

[2018-12-13 18:25] vinnakota opened #69 "Test error "Error: A sequence of more than one item is not allowed as the first argument of contains()""
I have couple of tests failing because of this error `Error: A sequence of more than one item is not allowed as the first argument of contains() ("application/vnd.esri.wms_raw_x...", "nosniff")`

Test Ids:
* wmsops-getfeatureinfo-params-query_layers-1
* wmsops-getfeatureinfo-params-query_layers-2

For each of these tests the server response headers contains content-type and x-content-type-options

[2018-12-14 10:00] dstenger commented on #69
Thank you for reporting.

We will do further investigation.

[2018-12-14 11:52] keshav-nangare commented on #69
@vinnakota

Can you please provide the service URL?

[2018-12-14 16:03] vinnakota commented on #69
@keshav-nangare https://ogccert.dev.geocloud.com/server/services/cite_shp/MapServer/WMSServer?request=GetCapabilities&service=WMS&version=1.1.1

[2018-12-17 11:32] keshav-nangare commented on #69
Fixed with this commit: 17488df3ad746f19675e21c2a060c89a05813679

[2019-01-04 15:01] dstenger commented on #62
@keshav-nangare
Thank you for your work.
However, https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI was updated and extended by integration tests.
Can you please update this pull request considering current extended documentation?

[2019-01-04 15:15] dstenger commented on #62
Also, Docker configuration must be updated as described in https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites.

[2019-01-04 15:24] #69 closed, assigned to dstenger, lgoltz

[2019-01-08 12:14] keshav-nangare commented on #62
@dstenger

I have updated the SoapUI script, docker maven configuration and jenkinsfiles according to the latest document.

[2019-01-22 14:11] keshav-nangare commented on #65
@lgoltz

Can please provide the test service?

Not able to reproduce with following RI:

[1] http://cite.deegree.org/deegree-webservices-3.4.0/services/wms111?service=WMS&request=GetCapabilities

[2] https://services.interactive-instruments.de/ogc-reference/cite/wms?request=getcapabilities&service=wms&version=1.1.1

[2019-01-29 08:07] lgoltz commented on #65
The service is not available any longer. I close this issue.

[2019-01-29 08:07] #65 closed

[2019-04-15 13:05] #62 closed

[2019-05-24 13:56] dstenger opened #71 "Update tests to use TEAM Engine 5.4"
Applies to integration and system tests.

SoapUI project must be updated as version was removed from URI to test suites of REST API (also see https://github.com/opengeospatial/teamengine/issues/261).
Please also update Maven configuration and set version of SoapUI Maven Plugin to 5.5.0.

See updated documentation: https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-So

[2019-05-31 15:15] dstenger opened #72 "REST API: URI of test suite is equal to WMS 1.3 test suite"
Currently, REST URI of test suite is `[TEAM_ENGINE]/rest/suites/wms/` which is equal to WMS 1.3 test suite.

Example: See Beta environment: http://cite.opengeospatial.org/te2/rest/suites/wms/

REST URI of test suite shall contain major and minor version of specification: `[TEAM_ENGINE]/rest/suites/wms11/`

[2019-07-25 06:47] keshav-nangare commented on #71
Fixed with this commit: a5aff3f7135c865e2784749d1653070cb5550f99

[2019-07-25 09:39] dstenger commented on #71
After fixing the integration tests, a build with `mvn clean install site -Pintegration-tests` was successful.

[2019-07-25 09:39] #71 closed

[2019-07-25 09:48] dstenger commented on #72
Please also adjust the SoapUI project for integration tests.
Following build must be successful: `mvn clean install site -Pintegration-tests`

[2019-08-13 12:28] keshav-nangare commented on #72
Fixed with this PR: #74

[2019-08-19 10:00] dstenger commented on #72
Local functional test of fix was successful.
- http://localhost:8081/teamengine/rest/suites/wms11/run?capabilities-url=http://cite.deegree.org/deegree-webservices-3.4.5/services/wms111?service=WMS%26request=GetCapabilities

[2019-08-19 10:05] #72 closed

[2019-09-25 15:22] Samgrocock opened #75 "Unknown error when attempting to test WMS OGC compliance"
I am running into issues using the compliance checker to check my Geoserver implementation. After spending some time figuring out how to load the test dataset into my Geoserver in order to run WMS 1.1.1 tests, I am getting the following error on the very first test (server URL replaced with XXX):

Test wms:wms_main type Mandatory default result Passed (s0034)

Assertion: This WMS is valid

Request

[2019-10-16 09:49] dstenger commented on #75
@keshav-nangare Can you please analyse this issue?

[2019-10-23 08:21] dstenger commented on #75
@Samgrocock Can you provide a test service to reproduce the behaviour?

[2019-10-23 09:54] Samgrocock commented on #75
@dstenger test URL is http://test.earthsense.co.uk/api/wmsfeed?

[2019-11-19 07:14] keshav-nangare commented on #75
@dstenger

I have investigated the issue and found the problem. @Samgrocock  I agree, the GetCapabilities document is fine but you can see there is an element with DOCTYPE which points to the external DTD in capability document and which is not available i.e. the reason of the failure.
The teamengine is trying to parse the response but parser also trying to fetch that external DTD which returns 40

[2019-11-20 09:14] dstenger commented on #75
@Samgrocock Can you please fix the DTD URL and check if you can execute the test suite then?

[2019-11-20 11:12] Samgrocock commented on #75
@keshav-nangare @dstenger

Hi both, have fixed the links in the get capabilities response and all is well now. Thanks for your help and sorry about the fuss.

[2019-11-20 11:36] #75 closed

[2019-12-04 09:07] dstenger commented on #59
Please replace links to single services (RIs) by https://github.com/opengeospatial/cite/wiki/Reference-Implementations.

[2019-12-04 09:18] dstenger commented on #59
@bermud Link to http://cite.opengeospatial.org/tsOGC/ViewTestSpec?SPEC=Web_Map_Server.html&TYPE=AVAILABLE&sesstype=OGC#A.-Certification%20Requirements is dead. Do you know where I find a reachable version of this document?

[2019-12-09 22:56] bermud2 commented on #59
Web_Map_Server.html
<https://github.com/opengeospatial/ets-wms11/blob/master/src/site/resources/Web_Map_Server.html>
is
here:
https://github.com/opengeospatial/ets-wms11/tree/master/src/site/resources

Best Regards,

Luis

----

Luis E. Bermudez, Ph.D.
Executive Director Innovation Program
Open Geospatial Consortium (OGC)

https://www.linkedin.com/in/bermudez
Skype: bermudez_luis Twitter: @berdez

[2019-12-11 09:09] dstenger commented on #59
Please use following URL: https://opengeospatial.github.io/ets-wms11/Web_Map_Server.html

[2019-12-13 05:02] keshav-nangare commented on #59
Update documentation with new URL's

[2020-07-09 07:22] ghobona commented on #58
The standard says:

_2.1 Conformance classes and requirements_

This International Standard defines **two conformance classes, one for a basic WMS, and the other for a queryable WMS**. Each has two subclasses, one for clients and the other for servers.

_2.2 Basic WMS_

A basic WMS shall support the basic service elements (see Clause 6), the GetCapabilities operation (see 7.2), and the GetMap oper

[2020-08-13 14:35] keshav-nangare commented on #58
As per discussion, I have updated the test behaviour as per user inputs and removed the NONE profile from UI.
The following behaviour is updated:
1. BASIC: Only Basic profiles test will be executed.
2. QUERYABLE: Basic + Queryable profiles will be executed.

Please find the changes in the #77 PR.

[2020-11-19 18:03] #59 closed

[2020-11-20 19:58] dstenger commented on #58
Currently, the integration-tests are failing when running the build with `mvn clean install site docker:run -Pintegration-tests,docker`.
It looks like that the start of `wms:wms-no-profile` was removed in the pull request. However, the tests shall still be executed when selecting BASIC or QUERYABLE. Just the option to execute NONE only shall be removed.

[2020-11-26 15:13] keshav-nangare commented on #58
@dstenger

I have updated condition that will execute NONE profile tests and also updated integration tests pass count, iut. Please find the changes in the same PR.

[2020-12-08 18:55] #58 closed

[2020-12-22 11:43] keshav-nangare opened #78 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-07 11:53] keshav-nangare commented on #78
Fixed with #79 PR.

[2021-04-23 20:44] #78 closed